[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Crowsec Welcome Screen
Comment=
Exec=/usr/share/Crowsec-Welcome/crowsec-welcome.py
Icon=/usr/share/Crowsec-Welcome/img/crowsec-welcome.png
Terminal=false
StartupNotify=true
Categories=System;
