[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Welcome Screen
Comment=
Exec=/usr/bin/crowsec-welcome
Icon=/usr/share/Crowsec-Welcome/img/crowsec-welcome.png
Terminal=false
StartupNotify=true
Categories=System;
